@import "../../../node_modules/modern-normalize/modern-normalize.css";
@import "grid";


@font-face {
  font-family: 'ESKlarheitGrotesk';
  src: url('/ESKlarheitGrotesk-Bk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 6rem;
}

html {
  font-family: 'ESKlarheitGrotesk', serif;
  font-size: 10px;
}

body {
  font-size: 3rem;
  line-height: 1.25em;
}

a {
  color: inherit;
}

h2 {
  font-size: 3rem;
  line-height: 1.25em;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.25em;
}
